/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.container table {
    width:100%;
}

td.devatx-align-center {
    text-align:center;
}

td.storewide_amt_under {
    font-weight:bold;
    color: #ff0000;
}

td.storewide_amt_over {
    font-weight:bold;
}

td.storewide_amt_align-right, th.storewide_amt_align-right {
    text-align:right;
}

.header-row {
    margin-bottom: 1em;
}

.header-button {
    float:right;
    text-align:right;
    margin-right:4em;
}
